<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yy-MM-dd HH:mm:ss.SSS} %-5level %-4relative - [ %thread{10} ] %logger{20}.%M:%L : %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <if condition='System.getProperty("os.name").toLowerCase().contains("windows")'>
        		<then>
            		<fileNamePattern>C:\logs\lwm2m-log-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            	</then>
            	<else>
            		<fileNamePattern>/app/lwm2m/logs/lwm2m-log-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            	</else>
            </if>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} %-5level %-4relative - [ %thread{10} ] %logger{20}.%M:%L : %msg%n</pattern>
        </encoder>
    </appender>
    
<!--     <appender name="SYSTEMLOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <if condition='System.getProperty("os.name").toLowerCase().contains("windows")'>
        		<then>
            		<fileNamePattern>C:\logs\lwm2m-syslog-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            	</then>
            	<else>
            		<fileNamePattern>/app/lwm2m/logs/lwm2m-syslog-%d{yyyy-MM-dd}-%i.log.zip</fileNamePattern>
            	</else>
            </if>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yy-MM-dd HH:mm:ss.SSS} %-5level %-4relative - [ %thread{10} ] %logger{20}.%M:%L : %msg%n</pattern>
        </encoder>
    </appender> -->

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
	</root>
	
<!-- 	<logger name="com.cnu.lwm2m.server.scheduler" additivity="false">
        <appender-ref ref="SYSTEMLOG"/>
    </logger> -->

	<logger name="com.cnu" level="DEBUG"/>
	<logger name="org.eclipse.californium" level="INFO"/>
	<logger name="org.eclipse.leshan" level="INFO"/>
	<logger name="org.eclipse.leshan.core.californium.LwM2mCoapResource" level="DEBUG"/>
	<logger name="org.eclipse.leshan.server.security.SecurityCheck" level="DEBUG"/>
	<logger name="org.eclipse.leshan.core.model.LwM2mModelRepository" level="TRACE"/>
</configuration>