<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %magenta(%-4relative) - [ %thread{10} ] %cyan(%logger{20}).%red(%M:%L) : %msg%n</pattern>
			<!-- <pattern>|%-5p| %d{HH:mm:ss.SSS} : (%t)[%C{1}.%M:%L] - %m%n</pattern> -->
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="org.eclipse.californium" level="INFO"/>
	<logger name="org.eclipse.leshan" level="INFO"/>
	<logger name="org.eclipse.leshan.core.californium.LwM2mCoapResource" level="DEBUG"/>
	<logger name="org.eclipse.leshan.server.security.SecurityCheck" level="DEBUG"/>
	<logger name="org.eclipse.leshan.core.model.LwM2mModelRepository" level="TRACE"/>
</configuration>